<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-12 text-left first-foot">
        <img src="images/logo.png" class="img-fluid">
        <h4>Address</h4>
        <p class="lead" style="margin: none !important;">
          E-202, Sector 8-B, Industrial Area, Sector 74, Mohali, Punjab 160055
        </p>
      </div>
      <div class="col-lg-2 col-md-6 text-left" style="display: flex;flex-direction: column;">
        <h4>Quick Links</h4>
        <a href="/#about">About Us</a>
        <a href="/#gallery">Gallery</a>
        <a href="/#initiatives">Initiatives</a>
        <a href="/register">Register</a>
        <a href="/#contact">Contact Us</a>
        <a href="/getin">Login</a>
      </div>
      <div class="col-lg-2 col-md-6">
        <h4>Social Media</h4>
        <div>
          <a href=""><img src="images/instagram.png" class="img-fluid"></a>
          <a href=""><img src="images/facebook.png" class="img-fluid"></a>
          <a href=""><img src="images/twitter.png" class="img-fluid"></a>
          <a href=""><img src="images/gmail.png" class="img-fluid"></a>
          <a href=""><img src="images/linkedin.png" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <h4>Support Us</h4>
        <p class="lead">
          We help all people in need around the world
          We help all people in need around the world
          We help all people in need around the world
        </p>
        <a href="/donate"><button class="btn btn-primary">Donate</button></a>
      </div>
    </div>
    <div class="text-center">
      <hr>
      <h5 style="color: #1d6f47;font-weight: bold;">© 2021 by Ek Support Foundation</h5>
    </div>
  </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    offset:200,
    duration:700
  });
</script>
</body>
</html>