<div class="footer">
  <div class="container text-center">
      <div>
        <a href=""><img src="images/instagram.png" class="img-fluid"></a>
        <a href=""><img src="images/facebook.png" class="img-fluid"></a>
        <a href=""><img src="images/twitter.png" class="img-fluid"></a>
        <a href=""><img src="images/gmail.png" class="img-fluid"></a>
        <a href=""><img src="images/linkedin.png" class="img-fluid"></a>
      </div>
      <hr/>
    <p>© 2021 by Ek Support Foundation</p>
  </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    offset:200,
    duration:700
  });
</script>
</body>
</html>