<!--initiatives
<div id="initiatives">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 inits-main">
                <h4>MAJOR</h4>
                <h1>initiatives</h1>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-4 inits">
                        <div class="half-sec">
                            <h5>01 JAN, 2021</h5>
                            <h6>Heading</h6>
                        </div>
                        <div class="half-img">
                            <div class="overlay1"></div>
                            <blockquote>
                                We help all people in need around the world
                                We help all people in need around the world
                                We help all people in need around the world
                            </blockquote>
                            <img src="images/poverty.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-4 inits">
                        <div class="half-sec">
                            <h5>01 JAN, 2021</h5>
                            <h6>Heading</h6>
                        </div>
                        <div class="half-img">
                            <div class="overlay1"></div>
                            <blockquote>
                                We help all people in need around the world
                                We help all people in need around the world
                                We help all people in need around the world
                            </blockquote>
                            <img src="images/poverty.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-4 inits">
                        <div class="half-sec">
                            <h5>01 JAN, 2021</h5>
                            <h6>Heading</h6>
                        </div>
                        <div class="half-img">
                            <div class="overlay1"></div>
                            <blockquote>
                                We help all people in need around the world
                                We help all people in need around the world
                                We help all people in need around the world
                            </blockquote>
                            <img src="images/poverty.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 inits">
                        <div class="half-sec">
                            <h5>01 JAN, 2021</h5>
                            <h6>Heading</h6>
                        </div>
                        <div class="half-img">
                            <div class="overlay1"></div>
                            <blockquote>
                                We help all people in need around the world
                                We help all people in need around the world
                                We help all people in need around the world
                            </blockquote>
                            <img src="images/poverty.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-4 inits">
                        <div class="half-sec">
                            <h5>01 JAN, 2021</h5>
                            <h6>Heading</h6>
                        </div>
                        <div class="half-img">
                            <div class="overlay1"></div>
                            <blockquote>
                                We help all people in need around the world
                                We help all people in need around the world
                                We help all people in need around the world
                            </blockquote>
                            <img src="images/poverty.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-4 inits">
                        <div class="half-sec">
                            <h5>01 JAN, 2021</h5>
                            <h6>Heading</h6>
                        </div>
                        <div class="half-img">
                            <div class="overlay1"></div>
                            <blockquote>
                                We help all people in need around the world
                                We help all people in need around the world
                                We help all people in need around the world
                            </blockquote>
                            <img src="images/poverty.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div id="initiatives">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 inits-main" data-aos="zoom-in">
                <h4>MAJOR</h4>
                <h1>initiatives</h1>
            </div>
            <div class="col-md-4 inits">
                <div class="half-sec">
                    <h5>01 JAN, 2021</h5>
                    <h6>Heading</h6>
                </div>
                <div class="half-img">
                    <div class="overlay1"></div>
                    <blockquote>
                        We help all people in need around the world
                        We help all people in need around the world
                        We help all people in need around the world
                    </blockquote>
                    <img src="images/initiative_1.jpeg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 inits">
                <div class="half-sec">
                    <h5>01 JAN, 2021</h5>
                    <h6>Heading</h6>
                </div>
                <div class="half-img">
                    <div class="overlay1"></div>
                    <blockquote>
                        We help all people in need around the world
                        We help all people in need around the world
                        We help all people in need around the world
                    </blockquote>
                    <img src="images/initiative_2.jpeg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
