<!--initiatives-->
<div id="initiatives">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 inits">
                <h4>MAJOR</h4>
                <h1>initiatives</h1>
            </div>
            <div class="col-md-3 col-sm-6 inits">
                <div class="half-img">
                    <div class="overlay"></div>
                    <blockquote>
                        We help all people in need around the world
                        We help all people in need around the world
                        We help all people in need around the world
                    </blockquote>
                    <img src="images/poverty.jpg" class="img-fluid">
                </div>
                <div class="half-sec">
                    <h5>01 JAN, 2021</h5>
                    <h6>Heading</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 inits">
                <div class="half-img">
                    <div class="overlay"></div>
                    <blockquote>
                        We help all people in need around the world
                        We help all people in need around the world
                        We help all people in need around the world
                    </blockquote>
                    <img src="images/poverty.jpg" class="img-fluid">
                </div>
                <div class="half-sec">
                    <h5>01 JAN, 2021</h5>
                    <h6>Heading</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 inits">
                <div class="half-img">
                    <div class="overlay"></div>
                    <blockquote>
                        We help all people in need around the world
                        We help all people in need around the world
                        We help all people in need around the world
                    </blockquote>
                    <img src="images/poverty.jpg" class="img-fluid">
                </div>
                <div class="half-sec">
                    <h5>01 JAN, 2021</h5>
                    <h6>Heading</h6>
                </div>
            </div>
        </div>
    </div>
</div>
