<!--Gallery-->
<div id="initiatives">
    <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-center car-init">
                <h2>Initiative 1</h2>
                <div class="image-init">
                    <img src="images/old.jpg" class="img-fluid">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,molestiae
                            quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis 
                            harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum!
                            Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure 
                            eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa 
                            officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum nesciunt ipsum 
                            debitis quas aliquid. Reprehenderit, quia. Quo neque error repudiandae fuga?
                    </p>
                </div>
            </div>
            <div class="carousel-item text-center car-init">
                <h2>Initiative 2</h2>
                <div class="image-init">
                    <img src="images/old.jpg" class="img-fluid">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,molestiae
                            quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis 
                            harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum!
                            Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure 
                            eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa 
                            officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum nesciunt ipsum 
                            debitis quas aliquid. Reprehenderit, quia. Quo neque error repudiandae fuga?
                    </p>
                </div>
            </div>   
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>
