<!--What Our Leaders Say-->
<div>
    <div class="container basic leaders">
        <h1 class="headingStyle" style="color: #1d6f47;">What Our Leaders Say</h1>
        <div class="row justify-content-center first">
            <div class="col-md-9">
                <p><span>"</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span>"</span> </p>
            </div>
            <div class="col-md-2">
                <img src="images/face.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <img src="images/face.jpg" class="img-fluid">
            </div>
            <div class="col-md-9">
                <p><span>"</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span>"</span> </p>
            </div>
        </div>
    </div>
</div>