<!--MAIN DIV-->
<div class="opening">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/open.jpg" class="img-fluid">
            </div>
            <div class="col-lg-8 text-center">
                <h1>Ek Support Foundation</h1>
                <h6>Making the world a better place, one smile at a time </h6>
                <a  href="/register"><button>Register as Volunteer</button></a>
                <a  href="/donate"><button>Donate</button></a>
            </div>
        </div>
    </div>
</div>

<!--WHO WE ARE-->
<div  id="about">
    <div class="container basic are">
        <h1 class="headingStyle">About Us</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="images/vaccine1.jpg" class="img-fluid"  style="margin-bottom:7px;">
            </div>
            <div class="col-lg-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#339c50" fill-opacity="1" d="M0,256L34.3,224C68.6,192,137,128,206,106.7C274.3,85,343,107,411,149.3C480,192,549,256,617,266.7C685.7,277,754,235,823,186.7C891.4,139,960,85,1029,96C1097.1,107,1166,181,1234,202.7C1302.9,224,1371,192,1406,176L1440,160L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</div>