<!--MAIN DIV-->
<div class="opening">
   <!-- <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/open.jpg" class="img-fluid">
            </div>
            <div class="col-lg-8 text-center">
                <h1>Ek Support Foundation</h1>
                <h6>Making the world a better place, one smile at a time </h6>
                <a  href="/register"><button>Register as Volunteer</button></a>
                <a  href="/donate"><button>Donate</button></a>
            </div>
        </div>
    </div>-->
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="overlay"></div>
            <h1>We help all people in need around the world</h1>
            <img class="d-block w-100" src="images/open.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <div class="overlay"></div>
            <h1>We help all people in need around the world</h1>
            <img class="d-block w-100" src="images/open.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <div class="overlay"></div>
            <h1>We help all people in need around the world</h1>
            <img class="d-block w-100" src="images/open.jpg" alt="Third slide">
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!--Basic info-->
<div class="second-info container-fluid">
    <div class="row">
        <div class="col-md-4 text-left" style="background-color: #d9d9d9;">
            <h3>Help 10400 People for Education</h3>
            <p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            <button>Register</button>
            <img src="images/covid.jpg" class="img-fluid">
        </div>
        <div class="col-md-4" style="background-color: #1d6f47;">
            <img src="images/poverty.jpg" class="img-fluid">
            <h3>Help 10400 People for Education</h3>
            <p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            <button>Make a Donation</button>
        </div>
        <div class="col-md-4" style="background-color: #d9d9d9;">
            <h3>Help 10400 People for Education</h3>
            <p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            <button>Check Our Program</button>
            <img src="images/support.jpg" class="img-fluid">
            
        </div>
    </div>
</div>

<!--about us-->
<div  id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5 class="lead">ABOUT US</h5>
                <h1>Our Goal Is To Help Poor People</h1>
                <blockquote>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                     unknown printer took a galley of type and scrambled
                </blockquote><br>
                <blockquote>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                     unknown printer took a galley of type and scrambled
                </blockquote><br>
            </div>
            <div class="col-md-5">
                <img src="images/two.jpg" class="img-fluid">
            </div>
        </div>
        
    </div>
</div>