
<!--Numbers-->
<div class=" init">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-4 number">
          <h1><span class="counter">500</span>+</h1>
          <h5>Lives Impacted</h5>
        </div>
        <div class="col-md-4 middle-num number">
          <h1><span class="counter">20</span>+</h1>
          <h5>Volunteers</h5>
        </div>
        <div class="col-md-4 last-num number">
          <h1><span class="counter">50</span>+</h1>
          <h5>Donors</h5>
        </div>
      </div>
    </div>
  </div>

  

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>
<script>
    jQuery('document').ready(function($) {
        $('.counter').counterUp({
            delay: 20,
            time: 2000
        });
    });
</script>
