*{
    font-family: 'Open Sans', sans-serif;
}

/* sticky icon bar*/
.icon-bar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.icon-bar a{
    background-color: #3b5998;
    color: white;
    padding: 4px 9px 4px 9px;
}

.icon-bar i{
    animation: letszoom 3s linear alternate-reverse infinite;
}

.icon-bar .gmail{ background-color: #dd4b39;}
.icon-bar .twitter{ background-color: #55acee;}
.icon-bar .linkedin{ background-color: #007bb5;}
.icon-bar .instagram{ background-color: #e95950;}


@keyframes letszoom{
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

/**************common classes******************/

.container{
    animation: loadIn 0.8s;
}

.headingStyle{
    text-align: center;
    font-size: 8vmin;
    letter-spacing: 4px;
    margin-bottom: 10vmin;
}

.overlay{
    width: 100%;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    height: 100%;
}

.basic{
    padding-top: 12vmin;
}

.button-all{
    background-color: #1d6f47;
    color: white;
    padding: 7px 25px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* TOP DIV */
.top-bar {
    background:black;
    color:white;
    width: 100%;
    padding:0px 12px;
  }

.first_top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first_top-bar p{
    transform: translateY(40%);
    font-size: small;
}

.first_top-bar button{
    background-color: #1d6f47;
    color: white;
    border: none;
    padding: 3px 15px;
    font-size: 13px;
}

@media only screen and (max-width: 647px){
    .first_top-bar{
        flex-direction: column;
    }

    .first_top-bar p{
        font-size: smaller;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .first_top-bar button{
        margin-bottom: 20px;
    }
}

/* NAVBAR */
nav {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand{
    margin-left: 3%;
}

.nav-link span{
    color: #778899;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link span:hover{
    color: #1d6f47;
    transition: 0.1s ease-in-out;
    border-bottom: 2px solid #1d6f47;
}

.nav-item{
    padding-left: 10px;
}

@media only screen and (max-width: 900px){
    .nav-item{
        padding-left: 3px;
        font-size: small;
    }
}


/* MAIN DIV */
.opening h1{
    position: absolute;
    color: white;
    text-transform: uppercase;
    top: 30%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 9vmin;
}

.opening img{
    height: 80vh;
}

.second-info .col-md-4{
    padding: 0px !important;
}
.second-info .col-md-4 h3,p{
    margin-left: 18px;
    margin-right: 15px;
}
.second-info .col-md-4 button{
    margin-left: 18px;
    padding: 8px 13px;
    margin-top: 4vmin;
}

.second-info .col-md-4:nth-child(odd){
    padding-top: 5vmin !important;
    box-shadow: inset 3px 3px 5px 3px #fff ;
}

.second-info button:nth-child(odd){
    background-color: #1d6f47;
    color: white;
    border: none;
    margin-bottom: 2em;
}

.second-info .col-md-4:nth-child(even){
    color: white;
    padding-bottom: 5vmin;
}

.second-info .col-md-4:nth-child(even) h3{
    margin-top: 5vmin;
}

.second-info button:nth-child(even){
    background-color: white;
    color: black;
    border: none;
    margin-bottom: 2em;
}


/* About us Divs */
#about{
    padding-top: 20vmin;
    padding-bottom: 20vmin;
    background-image: url("../images/backk.jfif");
    background-position: 70% 80%;
    background-repeat: no-repeat;
    background-size: 40%;
}

#about h5{
    color: #071f6b;
}

#about h1{
    color: black;
    text-transform: uppercase;
    margin-bottom: 5vmin;
}

#about span{
    font-size: larger;
    color: gray;
}


/* Initiatives */
#initiatives .inits{
    padding: 0px !important;
}
#initiatives .inits:first-child{
    background-color: #071f6b;
    text-transform: uppercase;
    padding-top: 15vmin !important;
    padding-bottom: 15vmin !important;
    padding-left: 20px !important;
}
#initiatives .inits:first-child h1{
    color: white;
}
#initiatives .inits:first-child h4{
    color: #a6a6a6;
}
#initiatives .inits h5{
    color: #071f6b;
    margin-top: 10px;
}
#initiatives .inits h6{
    font-weight: bold;
}
#initiatives .inits h5,h6,blockquote{
    padding-left: 20px !important;
}
.half-img{
    position: relative;
}
.half-img blockquote{
    position: absolute;
    color: white;
    top:50%;
    transform: translateY(-50%);
}
.half-img blockquote,.overlay{
    display: none;
}
.half-img:hover blockquote,.half-img:hover .overlay{
    display: block;
    transition: 2s ease-in-out;
}


/* Numbers */
.init{
    background-color: rgba(0, 0, 0, 0.9);
    background-image:url("../images/hold.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.middle-num{
   /* border-left: 3px solid white;
    border-right: 3px solid white;*/
    position: relative;
}

.middle-num::before,.last-num::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    width: 50%;
    border-left: 3px solid white;
    top: 50%;
    transform: translateY(-50%);
  }

.number{
    padding-top: 11vmin;
    padding-bottom: 11vmin;
}

.number h1{
    font-size: 80px;
    font-weight: bolder;
    color: white;
}

@media only screen and (max-width: 768px){
    .middle-num::before,.last-num::before{
        border-left: none;
    }
    .middle-num{
        border: none;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
    }
}

/* CAROUSEL
#gallery{
    padding-top: 12vmin;
    padding-bottom: 12vmin;
    padding-left: 20%;
    padding-right: 20%;
}
#gallery img{
    max-width: 100%;
}

@media only screen and (max-width: 1000px) {
    #gallery{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-width: 700px) {
    #gallery img{
        height: 300px;
    }
}*/

/*gallery section */

#gallery{
    margin-top: 20vmin;
    margin-bottom: 20vmin;
}

#gallery img{
    margin-top: 3vmin;
}

.news-updates{
    border: 2px solid yellow;
}
 

/*Contact Section*/
.contact{
    background-image: url('../images/contact.png');
    background-position:left bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    padding-top: 20vmin;
    padding-bottom: 20vmin;
}

.contact form{
    width: 60%;
}

.contact button{
    border-radius: 0px;
    color: white;
    background-color: #071f6b;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 3vmin;
}

.contact button:hover{
    background-color: #004aad;
}

.contact input{
    border-radius: 0px;
    border:none;
    background-color: gainsboro;
}

.contact input:focus{
    background-color: gainsboro;
    box-shadow: none;
    border-bottom: 2px solid #071f6b;
}

.contact textarea:focus{
    background-color: gainsboro;
    box-shadow: none;
    border-bottom: 2px solid #071f6b;
}

.contact textarea{
    border-radius: 0px;
    border: none;
    background-color:gainsboro;
}

@media only screen and (max-width: 700px) {
    .contact{
        background-size: 100%;
    }  

    .contact form{
        width: 100%;
    }
}

/* FOOTER */
.footer{
    background-color: #4f5867;
    height: 180px;
    color: white;
    margin-top: 0em;
    padding-top: 40px;
}

.footer hr{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 40%;
}

.footer img{
    height: 20px;
    margin: 3px;
}


/* animation */
@keyframes fadeAndScale2 {
    0% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    40% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

@keyframes loadIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


