*{
    font-family: 'Open Sans', sans-serif;
}

/* sticky icon bar*/
.icon-bar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.icon-bar a{
    background-color: #3b5998;
    color: white;
    padding: 4px 9px 4px 9px;
}

.icon-bar i{
    animation: letszoom 3s linear alternate-reverse infinite;
}

.icon-bar .gmail{ background-color: #dd4b39;}
.icon-bar .twitter{ background-color: #55acee;}
.icon-bar .linkedin{ background-color: #007bb5;}
.icon-bar .instagram{ background-color: #e95950;}


@keyframes letszoom{
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

/********************************/

.container{
    animation: loadIn 0.8s;
}

.headingStyle{
    text-align: center;
    font-size: 8vmin;
    letter-spacing: 4px;
    margin-bottom: 10vmin;
}

/* NAVBAR */
nav {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand{
    margin-left: 3%;
}

.nav-link span{
    color: #778899;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link span:hover{
    color: #339c50;
    font-weight: 700;
    transition: 0.1s ease-in-out;
    border-bottom: 2px solid #339c50;
}

.nav-item{
    padding-left: 10px;
}

@media only screen and (max-width: 900px){
    .nav-item{
        padding-left: 3px;
        font-size: small;
    }
}


/* MAIN DIV */
.opening img{
    margin-bottom: 2vmin;
}

.opening{
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(-50deg, #339c50 50%, #4f5867 50%);
    padding-top: 20vmin;
    padding-bottom: 20vmin;
}

.opening h1,h6{
    color: white;
    animation-delay: 0.2s;
    animation: fadeAndScale2 linear 1s;
}

.opening h1{
    font-size: 9vmin;
    margin-top: 3vmin;
    width: 100%;
}

.opening button{
    background-color: white;
    color: #1d6f47;
    border: none;
    padding: 7px 20px 7px 20px;
    margin-top: 3vmin;
    font-weight: bold;
}

.opening button:hover{
    background-color: rgba(255,255,255,0.84);
    transition: 0.3s ease-in-out;
}

/* About us Divs */
.basic{
    padding-top: 12vmin;
}

#about svg{
    margin-bottom: 0px;
}

.are h1{
    color:#1d6f47 ;
}

.are img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Initiatives */
#initiatives{
    padding-top: 10vmin;
    margin-top: -12vh;
}

@media only screen and (max-width: 569px){
    #initiatives{
        margin-top: -10vh;
    }
}

@media only screen and (max-width: 426px){
    #initiatives{
        margin-top: -6.5vh;
    }
}

.car-init{
    background-color: #339c50;
    color: white;
    padding-top: 9vmin;
    padding-bottom: 9vmin;
}

.car-init p{
    margin-top: 4vmin;
    text-align: left;
}


/* Numbers */
.init{
    background-color: rgba(0, 0, 0, 0.9);
    background-image:url("../images/hold.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.overlay{
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    height: 100%;
}

.middle-num{
   /* border-left: 3px solid white;
    border-right: 3px solid white;*/
    position: relative;
}

.middle-num::before,.last-num::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    width: 50%;
    border-left: 3px solid white;
    top: 50%;
    transform: translateY(-50%);
  }

.number{
    padding-top: 11vmin;
    padding-bottom: 11vmin;
}

.number h1{
    font-size: 80px;
    font-weight: bolder;
    color: white;
}

@media only screen and (max-width: 768px){
    .middle-num::before,.last-num::before{
        border-left: none;
    }
    .middle-num{
        border: none;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
    }
}

/* CAROUSEL */
#gallery{
    padding-top: 12vmin;
    padding-bottom: 12vmin;
    padding-left: 20%;
    padding-right: 20%;
}
#gallery img{
    max-width: 100%;
}

@media only screen and (max-width: 1000px) {
    #gallery{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-width: 700px) {
    #gallery img{
        height: 300px;
    }
}
 

/*Contact Section*/
.contact{
    background-image: url('../images/contact.png');
    background-position:left bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    padding-top: 20vmin;
    padding-bottom: 20vmin;
}

.contact form{
    width: 60%;
}

.contact button{
    border-radius: 0px;
    color: white;
    background-color: #071f6b;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 3vmin;
}

.contact button:hover{
    background-color: #004aad;
}

.contact input{
    border-radius: 0px;
    border:none;
    background-color: gainsboro;
}

.contact input:focus{
    background-color: gainsboro;
    box-shadow: none;
    border-bottom: 2px solid #071f6b;
}

.contact textarea:focus{
    background-color: gainsboro;
    box-shadow: none;
    border-bottom: 2px solid #071f6b;
}

.contact textarea{
    border-radius: 0px;
    border: none;
    background-color:gainsboro;
}

@media only screen and (max-width: 700px) {
    .contact{
        background-size: 100%;
    }  

    .contact form{
        width: 100%;
    }
}

/* FOOTER */
.footer{
    background-color: #4f5867;
    height: 180px;
    color: white;
    margin-top: 0em;
    padding-top: 40px;
}

.footer hr{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 40%;
}

.footer img{
    height: 20px;
    margin: 3px;
}


/* animation */
@keyframes fadeAndScale2 {
    0% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    40% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

@keyframes loadIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


